
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

    --box-shadow-primary: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    --box-shadow-primary2: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    --box-shadow-primary3: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    --box-shadow-primary4: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    
    --primary-footer-color:#3c3c3b;
    --primary-footer-seconday-color: hsla(0,0%,13%,1);
    --background-color-primary:#6767a3;
    --background-color-secondary: #4f4e4e;


    --font-xsm: 8px;
    --font-sm: 15px;
    --font-md: 20px;
    --font-lg: 30px;

    --padding-xlg: 100px;
    --padding-lg: 60px;
    --padding-md: 40px;
    --padding-xsm: 10px;
    --padding-sm: 20px;

    --margin-xsm: 20px;
    --margin-sm: 30px;
    --margin-md: 40px;
    --margin-lg: 60px;
    --margin-xlg: 100px;

    --width-global: 90%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: 0.5s ease;
    scroll-behavior: smooth;
}


body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  
}


a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

a:hover {
    text-decoration:none;
    color: #911111
}

button {
    cursor: pointer;
}

main  {
    height: auto;
    /* margin: auto; */
}

/* The navigation section */
nav {
    border-top: 1px solid var(--background-color-primary);
    border-bottom: 1px solid var(--background-color-primary);
}
.nav-container {
    width: 90%;
    margin: auto;
}

.nav-head {
    gap: 200px;
    border-top: 3px solid lavender;
    background: lavender;

}

.nav-body {

    gap: 50px;
    background: var(--background-color-primary);
    box-shadow: var(--box-shadow-primary);
}

.nav-link {
    color: white;
}
.nav-link:hover {
    text-decoration: underline;
    transition: width 0.5s ease;
    color: black;
}



.dashboard-nav,
.page-nav {
    width: 100%;
}
/* The fonts */

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .berkshire-swash-regular {
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
  }

  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

/* The flex */ 

.flex-space-between{
    display: flex;
    justify-content: space-between;
}

.flex-evenly {
    display: flex;
    justify-content: space-evenly;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
}


.flex-row {
    display: flex;
    flex-direction: row;
}

/* colors */
.white-text {
    color: white;
}


/* The font sizes */

.font-xsm {
    font-size: var(--font-xsm);
}
.font-sm {
    font-size: var(--font-sm);
}

.font-md {
    font-size: var(--font-md);
}

.font-lg {
    font-size: var(--font-lg);
}

/* The paddings */
.padding-top-lg {
    padding-top: var(--padding-lg);
}

.padding-bottom-lg {
    padding-bottom: var(--padding-lg);
}

.padding-top-md {
    padding-top: var(--padding-md);
}

.padding-bottom-md {
    padding-bottom: var(--padding-md);
}

.padding-top-sm {
    padding-top: var(--padding-sm);
}

.padding-bottom-sm {
    padding-bottom: var(--padding-sm);
}

.padding-top-xsm {
    padding-top: var(--padding-xsm);
}

.padding-bottom-xsm {
    padding-bottom: var(--padding-xsm);
}

.padding-top-xlg {
    padding-top: var(--padding-xlg);
}

.padding-bottom-xlg {
    padding-bottom: var(--padding-xlg);
}


.padding-md {
    padding: var(--padding-md);
}
/* 
The margins */
.margin-top-sm {
    margin-top: var(--margin-sm);
}

.margin-bottom-sm {
    margin-bottom: var(--margin-sm);
}


.margin-top-md {
    margin-top: var(--margin-md);
}

.margin-bottom-md {
    margin-top: var(--margin-md);
}


.margin-top-lg {
    margin-top: var(--margin-lg);
}


.margin-top-xlg {
    margin-top: var(--margin-xlg);
}

.margin-bottom {
    margin-bottom: var(--margin-lg);
}

/* utilies */

.center {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.left {
    text-align: left;
    justify-content: left;
}
.text-upper {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.font-lighter {
    font-weight: lighter;
}

.box {
    width: 74%;
    margin: auto;
    text-transform: capitalize;
}


/* buttons */
.button-sm {
    padding: 16px;
    font-size: 14px;
    width: 25%;
}


/* colors */
.black {
    color: black;
}

/* icons */
.icon {
    height: 25px;
    width: 25px;
    cursor: pointer;
    opacity: 0.8;
}

.icon:hover {
    transform: rotateX(360deg);
}




/* The main movie */


.search {
    text-align: center;
}
.search__bar {
    width: 50%;
    height: 40px;
    text-align: center;
    font-size: var(--font-md);
}


.search-btn {
    height: 40px;
    padding: 2px;
}

.secret-key-selection-field,
.secret-key-inputfield {
    height: 40px;
    width: 100%;
    cursor: pointer;
}


.subscription h1 {
    text-transform: capitalize;
}


.subtitles {
    padding-top: 4px;
    padding-bottom: 4px;
}


/* The footer elements begin here */

footer {
    background: var(--primary-footer-color);
}

footer .container .services a,
footer .container .links a {
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
}


footer .container > div,
.policies__wrapper {
    width: 80%;
    margin: auto;
}

.policies__wrapper {
    display: flex;
    gap: 20px;
}


.policies {
    background:black;
}
.policies a {
    color: white;
    display: flex;
    gap: 10px;
}


.social-icons a {
    color: white;
}



/* The movie page height */
#movie-content .container {
    width: 95%;
   
   
}

.movie-img {
    height: 225px;
    width: 150px;
    border-radius: 4%;
    /* box-shadow: var(--box-shadow-primary); */
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    /* box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    cursor: pointer;
    border: 2px solid lavender;
   
  }

  .movie-img:hover {
    opacity: 0.9;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transform: scale(1.2);
    position: relative;
    z-index: 1000;
  }

  .movies {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: auto;
    width: 93%;
    gap: 4px;
    margin: auto;
    
  }

  .section-2,
  .section-1,
  .section-3,
  .section-4 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
   
    width: 74%;
    gap: 1px;
    margin: auto;
    margin-bottom: var(--margin-xlg);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;

  }

.rating-icon{
    height: 20px;
    cursor: pointer;
    padding-left: px;
    position: relative;
    z-index: 1000000;
}

.rating-icons {
    padding-top: 10px;
}
.rating-icon:hover {
    transform: rotate("180deg");
    transform: scale(1.5);
}


  .movie-card,
  .section-1-card,
  .section-2-card,
  .section-3,
  .section-4-card {
    margin-top: 6px;
    margin-bottom:14px;
    position: relative;
  }

  .movie-card .voting-avearage,
  .section-1-card .voting-avearage,
  .section-2-card .voting-average {
    position: absolute;
   
  }


.voting {
    background: #6767a3;
    color: white;
    border-radius: 50%;
    position: absolute;
    border: 4px solid white;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: absolute;
    top: 0px;
}
  

  .movies > .movie-card {
    
    padding-bottom: var(--padding-lg);
  }


  /* The image banner */
  .banner {
    width: 90%;
    height: 300px;
    margin: auto;
  }

  .banner img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .joke-of-day {
    width: 74%;
    height: 80px;
    margin: auto;
    /* padding-top: var(--padding-lg); */
    
  }

  .joke-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

 
  /* The login and registration section */
  #change-password .container,
  #reset-password .container,
  #forgotten-password .container,
  #register .container,
  #login .container {
    width: 60%;
    margin: auto;
   
  }

 
.form-group {
    margin: auto;
}

.email-field,
 .username-field, 
 .password-field,
 .confirm-password-field {
    height: 40px;
    font-size: var(--font-md);
    border: 1px solid var(--background-color-primary);

 }


 .form-error {
    border: 1px solid;
    background: rgb(67, 3, 3);
    color: white;
    border: 1px solid white;
    width: 60%;
    padding-left: 10p;
    margin-left: 10px;
    width: 85%;
    margin: auto;
    margin-left: 30px;
    margin-right: 30px;
    padding: 3px;
    font-size: 14.6px;
  }

 .site-form  {
    width: 45%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    /* padding: 30px; */
    /* box-shadow: var(--box-shadow-primary2); */
    /* box-shadow: var(--box-shadow-primary3); */
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    cursor: pointer;
   
 }

 .site-form form {
    padding: 30px;
 }

 .button-md {

    width: 100%;
    height: 40px;
    margin-top: 10px;
    /* color: white; */
   
      
 }

 .button-lg {
    width: 100%;
    height: 100px;
    margin-top: 10px;
 }


 .show-password {
  
    padding-left: 4px;
    text-transform: lowercase;
      
 }
 .register-btn,
 .login-btn {
    text-transform: uppercase;
    color: white;
    font-size: var(--font-sm);
    background: var(--background-color-primary);
 }

 #login .container {
    height: auto;
 }

 .login-pic {
  
    height: 100%;
    width: 60%;
    object-fit: cover;
    
 }

 .header-banner {
    background: var(--background-color-primary);
 }

 .password-strength {
   
    height: 20%;
    margin-top: 10px;
    width: 46%;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 4px;
    visibility: hidden;
    border-radius: 4px;
    transition: opacity 0.4s ease-in-out; 
 }

 .password-strength.active {
    opacity: 1; 
    visibility: visible; 
}

.hidden {
    display: none;
}


#change-password .container .password-strength .container,
#reset-password .container .password-strength .container,
#register .container .password-strength .container{
   width: 100%;
 }

 #change-password .container .password-strength .container > div,
 #reset-password .container .password-strength .container > div,
 #register .container .password-strength .container > div{
    padding: var(--padding-sm);
  }
 .check-icon {
    height: 14px;
    width: 14px;
 }

 .opacity {
    opacity: 0.5;
 }

 .landing-page-main {
    height: 100vh;
    background: var(--background-color-secondary);
 }
 .landing-page-icon {
    height: 100px;
    width: 100px;
 }

 #landing-page {
    /* margin-top: 25vh; */
   
 }
 #landing-page .container {
    gap: 10px;
    display: flex;
    justify-content: center;
   
 }

 #landing-page .container > div {
    border: 1px solid;
    padding: 30px;
    width: 190px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: var(--box-shadow-primary);
    border: 4px solid lavender;
    cursor: pointer;
 }

 #landing-page .container > div:hover {
    transform: scale(1.1);
 }

 .display-box {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .info-banner {
    background: var(--background-color-primary);
 }

 label {
    font-size: var(--font-sm);
 }

 #admin-section .container {
    display: grid;
    grid-template-columns: 15% 70% 15%; /* Adjust the percentages as needed */
    grid-template-rows: auto; /* You can remove this line if you only want auto-sized rows */
  
   
}


.dashboard {
    background: black;
    position: fixed;
    height: 100%;
    width: 15%;
    top: 0;
    border-right: 3px solid var(--background-color-primary);
    /* z-index: -1; */
  
}

.admin-pic {
    width: 40px;
    height: 40px;
}

.dashboard {
    grid-column: 1 / 2; /* Place dashboard in the first column */
}

.user-info {
    grid-column: 2 / 3; /* Place user-info in the second column */
    background: lavender;
}

.side-panel {
    grid-column: 3 / 4; /* Place side-panel in the third column */
}

.user-movie-and-film-facts {
    width: 100%;
   
}

.display-info {
   
    border: 3px solid lavender;
    background: white;
    padding-top: var(--padding-md);
    padding-bottom: var(--padding-md);
}


.personal-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: auto; */
    gap: 1px;
}

.flex-group > div {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: var(--padding-xsm);
    font-size: 15px;
}

.label {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14.5px;
}

.profile-icon {
    height: 60px;
    width: 60px;
}

#movies-details .container {
    height: 800px;
    cursor: pointer;
}


.backdrop {
    position: relative;
    width: 100%;
    height: 100%; 
    overflow: hidden;
    cursor: pointer;
}

.backdrop-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.movie-poster {
    height: 450px;
  width: 300px;
  position: absolute;
  top: 400px;
  left: 100px;
}

.movie-detail {
    
        height: 450px;
        width: 50%;
        position: absolute;
        top: 200px;
        left: 420px;
        color: white;
        font-weight: bold;
        line-height: 1.5;

      
}


.backdrop-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(4, 42, 4, 0.5); Semi-transparent green overlay */
    background-color: rgba(1, 30, 1, 0.5); /* Semi-transparent green overlay */

}

.movie-detail h1 {
    padding-left: 56px;
    font-size: 35px;
}

.APIOverview > input,

.APIOverview .button-container,
.APIOverview > textarea,
.api-container > input,
.api-container > textarea,
.dashboard-form {
    width: 60%;
    padding-left: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
  
}


.padding-left {
    padding-left: 10px;
}



.hashedPassword,
.APIOverview {
    padding-left: 10px;
}

.api-container {
    padding-left: 10px;
}
.api-container label{
  padding-top: 4px ;
}


.admin-form > input,
.APIOverview > input,
.api-container > input,
.dashboard-form > input {
    height: 40px;
    font-size: 18px;
    border: 1px solid var(--background-color-primary);
}

.filter-queries-form > select {
    height: 40px;
    font-size: var(--font-sm);
    border: 1px solid var(--background-color-primary);
}

.filter-queries-form > select > {
    padding-bottom: 6px;
}


.adimin-form > label,
.APIOverview > label,
.dashboard-form > label {
    padding-top: 12px;
}

.social-form > label > span {
    padding-right: 5px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
   
}

.button-sm {
    padding: 4px;
    margin-top: 4px;
}

.warning-text {
    color: rgb(150, 5, 5);
    line-height: 1.5;
}

.success-text {
    color: rgb(3, 82, 25);
    line-height: 1.5;
}

.search-bg {
    background: var(--background-color-primary);
    color: white;
}

.highlight {
    font-weight: bolder;
    color: var(--background-color-primary);
}

.user-data {
    color: rgb(74, 74, 116);
}

.dashboard {
    overflow: scroll;
}

.background-active {
    background: unset;
    background: white;
    color: black;
  }

.personal-details-info > a,
.personal-details-sub-menu > a,
.dashboard  a {
    margin-top: 1px;

    margin-bottom: 1px;
    border: 2px solid white;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 90%;
    padding-left: 10px;
    margin-left: 10px;
  
    font-weight: 400;
    font-size: var(--font-sm);
    
  }

 


  .dark-purple-bg {
    background: var(--background-color-primary);
    
  }

  .dashboard > a:last-child {
    margin-bottom: 10px;
  }

  .dashboard h2 {
    color: white;
    padding-left: 10px;
    margin-left: 10px;
    width: 90%;
    font-size: var(--font-sm);
    margin-bottom: 4px;
    margin-top: 4px;
    padding-top: var(--padding-sm);
  }

  hr {
    width: 90%;
    margin: auto;
  }

  .section-movie-description {
    line-height: 1.8;
    padding-top: var(--padding-sm);
    padding-bottom: var(--padding-sm);
    width: 85%;
    
  }

  .dashboard-section-description {
    line-height: 1.8;
    padding-bottom: var(--padding-sm);
    width: 60%;
    padding-left: 10px;
  }

  .bold {
    font-weight: bold;
  }
  .danger-bg-color {
        background: #911111;
        color: white;
    
  }

  .success-bg-color {
        background: #106610;
        color: white;
    
  }

  .site-logo {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 4px solid white;
    transform: translateY(-8px);
  }


  .line-height-min {
    line-height: 1.5;
  }

  .dashboard-form input,
  .dashboard-form textarea {
    font-size: 15px;
    font-weight: normal;
    font-family: "Poppins", sans-serif;;
    
  }

  .hashedPassword textarea {
    width: 60%;
  }

  .item-to-delete {
    display: flex;
    justify-content: space-between;
    border: 2px solid lavender;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 4px;
    padding-left: 2px;
    padding-right: 2px;
  }



  .home-page-sub-menu,
  .personal-details-sub-menu {
    position: absolute;
    left: -1000px;
    transition: 5s ease-out;
  
  }

  .home-page-sub-menu.active,
  .personal-details-sub-menu.active {
    position: unset;
    left: 0;
    transition: 0.4s ease-out;
  }

  .dashboard-bg {
    background: var(--background-color-primary); 
    color: white;
}


.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
  }

  .warning-prompt-msg  {

    position: fixed;

    border: 1px solid lavender; 
    background: white;
    z-index: 1000;
    padding: 100px;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    box-shadow: var(--box-shadow-primary);
   
  }
  
  .account-deletion,
  .cache-deletion {
    display: none;
  }
  
  
 .buttons .cancel-btn,
 .buttons .confirm-btn {
    padding: 10px;
  }

  

.error-msg,
.success-msg {
    
  
    margin: auto;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    top: -2000px;
    right: 100px;
    width: 24%;
    border: 4px solid white;
    transition: 2s ease-in;
    box-shadow: var(--box-shadow-primary3);
    cursor: pointer;
    /* display: none; */
      
  }

  .success-msg.active {
    top: 100px;
  }

/* 
  .danger-msg.active {
    top: 100px;
  } */
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  
  #movie-content {
    background: url("static/image/bg.png");
    background-size: cover;
}


.username-exists,
.email-exists {
    display: none;
}

.semi-bold {
    font-weight: 600;
    color: #18bc18;
}

.greeting-text {
  
    color: #2e062e;
    /* font-weight: bold; */
    
}


.site-name {
    margin-top: 100px;
    border: 2px solid white;
    width: 20%;
    margin: auto;
    margin-top: 60px;
    padding: 20px;
    cursor: pointer;

}


#secretKeyGenerator > .container {

    width: 40%;
    padding: 30px;
    padding: 70px;
    margin: auto;
    cursor: pointer;
    box-shadow: var(--box-shadow-primary);
  }

 .secrek-key-buttons-container {
    width: 100%;
    border: 1px solid black;
    cursor: pointer;
    background: var(--background-color-primary);
    color: white;
    font-weight: bold;
 }

 .side-bar-msg {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    background: white;
    border-left: 2px solid black;
    bottom: 0;
    transition: display 0.5 ease-in-out;
  }

  .side-bar-msg .container {
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

#session-key-text-area {
    width: 85%;
  height: 85%;
}

.side-bar-msg  .button {
    width: 85%;
    display: flex;
    justify-content: flex-end;
    gap: 1px;
}
  
.side-bar-msg .button > div {
    padding: 10px;
    border: 1px solid black;
}

.side-bar-msg .button > div a:hover {
   color: white;
   transform: scale(1.8);
}

.session-key-btn {
    margin-top: 3px;
    background: var(--background-color-primary);
    width: 100%;
}


.secretKeyForm input,
.secretKeyForm select {
    font-size: var(--font-sm);
    font-weight: 300;
}

.generator-banner {
    background: var(--background-color-primary);
}

.movie-subtitle {
    
        width: 70%;
        margin: auto;
        color: black;
        color: var(--background-color-primary);
        font-weight: 500;
      
}
.page-banner {
    background: var(--background-color-primary);
}

/* Apply blur effect to the left and right sides of the border */
.blur-border {
   
    border-radius: 30px; 
    padding: 7px; 
    position: relative;
}

/* Create pseudo-elements for left and right side blur */
.blur-border:before, .blur-border:after {
    content: "";
    position: absolute;
    top: 100px;
    bottom: 20px;
    width: 80px;
    background-image: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,1)); /* Adjust gradient direction and colors */
    filter: blur(7px); 
}

/* Position left blur */
.blur-border:before {
    left: -40px; 
}

/* Position right blur */
.blur-border:after {
    right: -10px;
}

.overview {
    padding-top: 250px;
}

.not-found-header {
    font-size: 25rem;
}