<%- include('../partials/header/header.ejs', {title: "Login page" }) %>

    <body>

        <!-- The navbar section starts here -->

        <!-- The main section starts here -->
        <main>
            <section id="register">
                <div class="info-banner padding-top-sm padding-bottom-sm center white-text" role="region">
                    <p class="anton-regular font-lg">Clever movies</p>
                    <p class="anton-regular font-md">Page not found</p>
                    
                    <a href="/" class="text-capitalize white-text">Back to home page</a>
                </div>

                <div class="not-found">
                    <h1 class="poppins-light center not-found-header">404</h1>
                </div>
            </section>

        </main>

        <div class="spinner"></div>

     

        <%- include('../partials/footer/footer.ejs') %>


    </body>

    </html>