<footer>

    <div class="container padding-top-lg padding-bottom-lg">

        <div class="flex-space-between">

            <div class="subscription flex-col">
                <h1 class="anton-regular white-text berkshire-swash-regular">Clever movies</h1>
                <p class="subtitle white-text padding-top-md">Sign up to our newsletter for special bribes,
                    incentives and Everyman listings each week.</p>
                <button type="button" class="text-upper button-sm margin-top-sm">Join for free</button>
            </div>

            <div class="links flex-col">
                <a href="#">Movies Films and Downloads</a>
                <a href="#">Careers</a>
                <a href="#">About some site name here</a>
                <a href="#">FAQs</a>
                <a href="#">Contact us</a>
                <a href="#">Privacy settings</a>
            </div>


            <div class="socials">

                <div class="social-icons padding-top-sm">
                    <img src="/image/instagram.svg" alt="" srcset="" class="icon">
                    <img src="/image/facebook (1).svg" alt="" class="icon">
                    <img src="/image/whatsapp.svg" alt="" class="icon">
                    <img src="/image/twitter-original (1).svg" alt="" class="icon">

                </div>
            </div>

        </div>


    </div>
    <div class="policies padding-top-xsm padding-bottom-xsm">
        <div class="policies__wrapper">
            <a href="#">© Privacy Policy</a>
            <a href="#">© Terms and Conditions</a>
            <a href="#">Cookie Policy</a>
        </div>

    </div>


</footer>
