<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Clever Movies</title>
</head>

<body>
   
    <nav class="nav-container">
        <div class="nav-head flex-center padding-top-sm padding-bottom-sm">
            <div class="logo">
                logo
            </div>

            <div class="header-body flex-center anton-regular text-upper font-md">
                Clever movies
            </div>

            <div class="header-footer">
                <img src="image/alternate-sign-in.svg" alt="A login image" class="icon">
                <span>Sign up</span>
            </div>
        </div>

      

    </nav>

    <!-- The main section starts here -->
    <main>


            <section id="change-password">
                <div class="info-banner padding-top-sm padding-bottom-sm center white-text">
                    <p>To change your password fill in this form</p>
                   
                </div>
                <div class="container margin-bottom flex-row">


                    <div class="site-form">
                        <div class="header-banner center padding-bottom-sm padding-top-sm anton-regular white-text font-md">Change Password form</div>
                        <div class="login-img">
                            <img src="image/login-img.jpg" alt="login-img" class="login-pic">
                        </div>
                        <form action="" class="post" class="login-form">

                            <div class="form-group flex-col">
                               
                                <label for="password">Old Password</label>
                                <input type="password" name="password" id="password" class="password-field">


                            </div>

                            <div class="form-group flex-col">
                               
                                <label for="password">Password</label>
                                <input type="password" name="password" id="password" class="password-field">


                            </div>

                            <div class="form-group flex-col">

                                <label for="confirm-password">Confirm Password</label>
                                <input type="password" name="confirm-password" id="confirm-password" class="password-field">

                            </div>
                          
                            <div class="form-group flex-col">
                               
                                <div class="flex-row">
                                    <input type="checkbox" name="show-password" id="show-password">
                                    <span class="show-password font-sm"> Show password</span>
                                </div>
                                <div class="flex-row">
                                    <button type="submit" class="register-btn button-md">Change my password</button>
                                </div>
                            </div>
                             
                           
    
    
                        </form>
    


                    </div>

                    
                <div class="password-strength">

                  
                    <div class="container">
                        <div class="header-banner center padding-bottom-sm padding-top-sm anton-regular white-text font-md">Password Strength board</div>
                       
                        
                        <div class="contains-lower-case opacity">
                          <img src="image/white-heavy-check-mark (1).svg" alt="" srcset="" class="check-icon">
                          <span>Must contain at least one lowercase</span>
                        </div>
                        <div class="contains-capital opacity">
                            <img src="image/white-heavy-check-mark (1).svg" alt="" srcset="" class="check-icon">
                            <span>Must contain at least one capital</span>
                        </div>
    
                        <div class="contains-number opacity">
                            <img src="image/white-heavy-check-mark (1).svg" alt="" srcset="" class="check-icon">
                            <span>Must contain at least one number</span>
                        </div>
    
                        <div class="contains-special-char opacity">
                            <img src="image/white-heavy-check-mark (1).svg" alt="" srcset="" class="check-icon">
                            <span>Must contain at least one special</span>
                        </div>
    
                        <div class="is-length-vaiid opacity">
                            <img src="image/white-heavy-check-mark (1).svg" alt="" srcset="" class="check-icon">
                            <span>Must contain at least eight chars</span>
                        </div>
                    </div>
                    
                </div>


                </div>



            </section>
     

    </main>
    <!-- The mains end here -->

    <footer>

        <div class="container padding-top-lg padding-bottom-lg">

            <div class="flex-space-between">

                <div class="subscription flex-col">
                    <h1 class="anton-regular white-text berkshire-swash-regular text-upper">Clever Movies</h1>
                    <p class="subtitle white-text padding-top-md">Sign up to our newsletter for special bribes,
                        incentives and Everyman listings each week.</p>
                    <button type="button" class="text-upper button-sm margin-top-sm">Join for free</button>
                </div>

                <div class="links flex-col">
                    <a href="#">Movies Films and Downloads</a>
                    <a href="#">Careers</a>
                    <a href="#">About some site name here</a>
                    <a href="#">FAQs</a>
                    <a href="#">Contact us</a>
                    <a href="#">Privacy settings</a>
                </div>


                <div class="socials">

                    <div class="social-icons padding-top-sm">
                        <img src="/image/instagram.svg" alt="" srcset="" class="icon">
                        <img src="/image/facebook (1).svg" alt="" class="icon">
                        <img src="/image/whatsapp.svg" alt="" class="icon">
                        <img src="/image/twitter-original (1).svg" alt="" class="icon">

                    </div>
                </div>

            </div>


        </div>
        <div class="policies padding-top-xsm padding-bottom-xsm">
            <div class="policies__wrapper">
                <a href="#">© Privacy Policy</a>
                <a href="#">© Terms and Conditions</a>
                <a href="#">Cookie Policy</a>
            </div>

        </div>


    </footer>

</body>

</html>