
<div class="search">
    <form action="/movies" method="post">
        <input type="search" name="search" id="search" class="search__bar margin-top-sm poppins-thin" required>
        <button type="submit" class="search-btn poppins-thin success-bg-color padding-md">Search</button>
    </form>
</div>