

<div class="nav-body flex-center padding-top-sm padding-bottom-sm berkshire-swash-regular font-md">
    <a href="/" class="nav-link">Home</a>
    <a href="/latest-films" class="nav-link">Latest Films</a>
    <a href="/tv-shows" class="nav-link">TV show</a>

    <% if (userId) { %>
        <a href="/admin" class="nav-link">Dashboard</a>
        <% } %>
</div>